
# Compiled class files
*.class

# Maven / Gradle output
target/
build/

# Eclipse / IntelliJ project files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db

# =========================
# Spring Boot / Secrets
# =========================

# Application secrets
src/main/resources/application-secrets.properties

# Environment files
.env
